USE [master]
GO
/****** Object:  Database [ReminderSystem]    Script Date: 12/9/2021 11:25:50 PM ******/
CREATE DATABASE [ReminderSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReminderSystem', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\ReminderSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReminderSystem_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\ReminderSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReminderSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReminderSystem]
GO
/****** Object:  UserDefinedFunction [dbo].[NewChiTietCV_ID]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[NewChiTietCV_ID]() returns int
As
begin
declare @NewID int

if exists(select * from ChiTietCV)
begin
select @NewID = MAX(ID)+1
from ChiTietCV
end
else
set @NewID = 1
return @NewID
End
GO
/****** Object:  UserDefinedFunction [dbo].[NewCV_ID]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[NewCV_ID]() returns int
As
begin
declare @NewID int

if exists(select * from CongViec)
begin
select @NewID = MAX(ID)+1
from CongViec
end
else
set @NewID = 1
return @NewID
End
GO
/****** Object:  UserDefinedFunction [dbo].[NewLoaiCV_ID]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[NewLoaiCV_ID]() returns int
As
begin
declare @NewID int

if exists(select * from LoaiCV)
begin
select @NewID = MAX(ID)+1
from LoaiCV
end
else
set @NewID = 1
return @NewID
End
GO
/****** Object:  UserDefinedFunction [dbo].[NewTaiKhoan_ID]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[NewTaiKhoan_ID]() returns int
As
begin
declare @NewID int

if exists(select * from TaiKhoan)
begin
select @NewID = MAX(ID)+1
from TaiKhoan
end
else
set @NewID = 1
return @NewID
End
GO
/****** Object:  Table [dbo].[ChiTietCV]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietCV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CongViec] [int] NOT NULL,
	[TrangThai] [int] NULL,
	[ThoiDuKien] [int] NULL,
	[ThoiThucTe] [int] NULL,
	[TenChiTietCV] [nvarchar](1000) NULL,
	[MucdoUuTien] [tinyint] NULL,
	[MoTa] [nvarchar](1000) NULL,
	[TienDo] [int] NULL,
 CONSTRAINT [PK_ChiTietCV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCongViec] [nvarchar](1000) NULL,
	[ThoiGianBatDau] [smalldatetime] NULL,
	[ThoiGianKetThuc] [smalldatetime] NULL,
	[MucdoUuTien] [tinyint] NULL,
	[TienDo] [tinyint] NOT NULL,
	[ID_LoaiCV] [int] NULL,
	[TrangThai] [int] NULL,
	[MoTa] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCV]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiCV] [nvarchar](1000) NULL,
	[TenDangNhap] [nvarchar](255) NULL,
 CONSTRAINT [PK_LoaiCV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/9/2021 11:25:50 PM ******/
drop table TaiKhoan
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](1000) NULL,
	[HovaTen] [nvarchar](1000) NULL,
	[GioiTinh] [bit] NULL,
	[Ngaysinh] [smalldatetime] NULL,
	[CauHoi] [nvarchar] (255) not null,
	[CauTraloi] [nvarchar] (255) not null,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietCV] ON 

INSERT [dbo].[ChiTietCV] ([ID], [ID_CongViec], [TrangThai], [ThoiDuKien], [ThoiThucTe], [TenChiTietCV], [MucdoUuTien], [MoTa], [TienDo]) VALUES (1, 12, 0, 30, 0, N'Soạn giáo án', 1, N'Soạn giáo án cho môn Ngữ Văn lớp 12A4', 10)
INSERT [dbo].[ChiTietCV] ([ID], [ID_CongViec], [TrangThai], [ThoiDuKien], [ThoiThucTe], [TenChiTietCV], [MucdoUuTien], [MoTa], [TienDo]) VALUES (2, 12, 1, 30, 60, N'Chấm bài thi', 1, N'Chấm bài thi giữa kì lớp 12A1', 100)
INSERT [dbo].[ChiTietCV] ([ID], [ID_CongViec], [TrangThai], [ThoiDuKien], [ThoiThucTe], [TenChiTietCV], [MucdoUuTien], [MoTa], [TienDo]) VALUES (3, 12, 0, 30, 0, N'Làm đề kiểm tra 15 phút', 1, N'Làm đề kiểm tra 15 phút cho lớp 12A4', 50)
SET IDENTITY_INSERT [dbo].[ChiTietCV] OFF
GO
SET IDENTITY_INSERT [dbo].[CongViec] ON 

INSERT [dbo].[CongViec] ([ID], [TenCongViec], [ThoiGianBatDau], [ThoiGianKetThuc], [MucdoUuTien], [TienDo], [ID_LoaiCV], [TrangThai], [MoTa]) VALUES (20, N'Dạy học', CAST(N'2021-12-10T08:00:00' AS SmallDateTime), CAST(N'2021-12-11T18:08:00' AS SmallDateTime), 1, 100, 10, 1, N'Dạy học khóa 12 năm 2021')
INSERT [dbo].[CongViec] ([ID], [TenCongViec], [ThoiGianBatDau], [ThoiGianKetThuc], [MucdoUuTien], [TienDo], [ID_LoaiCV], [TrangThai], [MoTa]) VALUES (21, N'Việc nhà', CAST(N'2021-04-30T08:00:00' AS SmallDateTime), CAST(N'2021-04-30T08:12:00' AS SmallDateTime), 1, 60, 9, -1, N'Việc nhà tuần 30')
INSERT [dbo].[CongViec] ([ID], [TenCongViec], [ThoiGianBatDau], [ThoiGianKetThuc], [MucdoUuTien], [TienDo], [ID_LoaiCV], [TrangThai], [MoTa]) VALUES (22, N'Chuẩn bị đồ tết', CAST(N'2021-12-10T08:00:00' AS SmallDateTime), CAST(N'2022-01-26T16:00:00' AS SmallDateTime), 1, 0, 9, 0, N'Chuẩn bị đồ tết năm 2022')
SET IDENTITY_INSERT [dbo].[CongViec] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiCV] ON 

INSERT [dbo].[LoaiCV] ([ID], [TenLoaiCV], [TenDangNhap]) VALUES (8, N'Học tập', N'Huu')
INSERT [dbo].[LoaiCV] ([ID], [TenLoaiCV], [TenDangNhap]) VALUES (9, N'Cá nhân', N'Huu')
INSERT [dbo].[LoaiCV] ([ID], [TenLoaiCV], [TenDangNhap]) VALUES (10, N'Giáo dục đào tạo', N'Huu')
SET IDENTITY_INSERT [dbo].[LoaiCV] OFF
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [HovaTen], [GioiTinh], [Ngaysinh],[CauHoi],[CauTraloi]) VALUES (N'causotuicaine', N'12345', N'Nguyễn Văn A', 1, CAST(N'2021-12-07T16:26:00' AS SmallDateTime),'Bạn học trường nào','Đại học Đà lạt')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [HovaTen], [GioiTinh], [Ngaysinh],[CauHoi],[CauTraloi]) VALUES (N'Hieu', N'123456', N'Cao Dương Sơn Hiếu', 1, CAST(N'2002-04-30T00:00:00' AS SmallDateTime),'Bạn học trường nào','Đại học Đà lạt')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [HovaTen], [GioiTinh], [Ngaysinh],[CauHoi],[CauTraloi]) VALUES (N'HongBichTram', N'000', N'Nguyễn Hồng Bích Trâm', 0, CAST(N'2004-04-30T00:00:00' AS SmallDateTime),'Bạn học trường nào','Đại học Đà lạt')
GO

select TenDangNhap,MatKhau from TaiKhoan where CauHoi = N'Bạn học trường nào' and CauTraloi = N'Đại học đà lạt'
/****** Object:  StoredProcedure [dbo].[_Delete]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[_Delete](@TableName nvarchar(200),@ID int)
as
begin
declare @sql nvarchar(1000)
set @sql = 'delete from '+@TableName +' where ID = '+CAST(@ID as nvarchar(50))
Exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietCV_Delete]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ChiTietCV_Delete](@ID int)
as
begin
Delete from ChiTietCV where ID =@ID
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietCV_GetById]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ChiTietCV_GetById]
	@id int
as
begin
	select * 
	from ChiTietCV
	where ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[ChiTietCV_Insert]    Script Date: 12/9/2021 11:25:50 PM ******/
drop proc ChiTietCV_Insert
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ChiTietCV_Insert]
	@id int output,
	@idCongViec int,
	@ten nvarchar(1000),
	@duKien int,
	@thucTe int,
	@doUuTien tinyint,
	@tienDo int,
	@trangThai int,
	@moTa nvarchar(1000)
as
begin
	insert into ChiTietCV(ID_CongViec, TrangThai, ThoiDuKien, ThoiThucTe, TenChiTietCV, MucdoUuTien, MoTa, TienDo)
	values(@idCongViec, @trangThai, @duKien, @thucTe, @ten, @doUuTien, @moTa, @tienDo)
	set @id = @@IDENTITY

	declare @sum int
	declare @count int
	select @sum = SUM(cv.TienDo), @count = COUNT(cv.ID)
	from ChiTietCV cv
	where ID_CongViec = @idCongViec
	
	if(@sum = @count*100)
	begin
		update CongViec set TienDo = 100, TrangThai = 1 where ID = @idCongViec
	end
	else
	begin
		update CongViec set TienDo = (@sum/@count) where ID = @idCongViec
	end
	
end
GO
exec dbo.ChiTietCV_Insert 25,24,'abc',20,20,1,30,1,'abc'

/****** Object:  StoredProcedure [dbo].[ChiTietCV_Update]    Script Date: 12/9/2021 11:25:50 PM ******/
drop proc ChiTietCV_Update
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ChiTietCV_Update]
	@id int,
	@idCongViec int,
	@ten nvarchar(1000),
	@duKien int,
	@thucTe int,
	@doUuTien tinyint,
	@tienDo int,
	@trangThai int,
	@moTa nvarchar(1000)
as
begin
	update ChiTietCV
	set
		ID_CongViec = @idCongViec,
		TenChiTietCV = @ten,
		ThoiDuKien = @duKien,
		ThoiThucTe = @thucTe,
		MucdoUuTien = @doUuTien,
		TienDo = @tienDo,
		TrangThai = @trangThai,
		MoTa = @moTa
	where ID = @id

	declare @sum int
	declare @count int
	select @sum = SUM(cv.TienDo), @count = COUNT(cv.ID)
	from ChiTietCV cv
	where ID_CongViec = @idCongViec
	
	if(@sum = @count*100)
	begin
		update CongViec set TienDo = 100, TrangThai = 1 where ID = @idCongViec
	end
	else
	begin
		update CongViec set TienDo = (@sum/@count) where ID = @idCongViec
	end

end
GO

exec ChiTietCV_Update 
/****** Object:  StoredProcedure [dbo].[CongViec_Delete]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CongViec_Delete](@ID int)
as
begin
Delete from CongViec where ID =@ID
Delete from ChiTietCV where ID_CongViec =@ID
end
GO
/****** Object:  StoredProcedure [dbo].[CongViec_GetById]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CongViec_GetById]
	@id int
as
begin
	select * 
	from CongViec
	where ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[CongViec_Insert]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[CongViec_Insert]
	@id int output,
	@tenCongViec nvarchar(1000),
	@batDau smalldatetime,
	@ketThuc smalldatetime,
	@doUuTien tinyint,
	@tienDo tinyint,
	@idLoaiCV int,
	@trangThai int,
	@moTa nvarchar(1000)
as
begin
	insert into CongViec(TenCongViec, ThoiGianBatDau, ThoiGianKetThuc, MucdoUuTien, TienDo, ID_LoaiCV, TrangThai, MoTa)
	values(@tenCongViec, @batDau, @ketThuc, @doUuTien, @tienDo, @idLoaiCV, @trangThai, @moTa)
	set @id = @@IDENTITY
end
GO
/****** Object:  StoredProcedure [dbo].[CongViec_Update]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CongViec_Update]
	@id int,
	@tenCongViec nvarchar(1000),
	@batDau smalldatetime,
	@ketThuc smalldatetime,
	@doUuTien tinyint,
	@tienDo tinyint,
	@idLoaiCV int,
	@trangThai int,
	@moTa nvarchar(1000)
as
begin
	update CongViec
	set
		TenCongViec = @tenCongViec,
		ThoiGianBatDau = @batDau,
		ThoiGianKetThuc = @ketThuc,
		MucdoUuTien = @doUuTien,
		TienDo = @tienDo,
		ID_LoaiCV = @idLoaiCV,
		TrangThai = @trangThai,
		MoTa = @moTa
	where ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[DangNhap]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DangNhap]
	@tenDangNhap nvarchar(255),
	@matKhau nvarchar(1000)
as
begin
	select *
	from TaiKhoan
	where TenDangNhap = @tenDangNhap and MatKhau = @matKhau
end
GO
/****** Object:  StoredProcedure [dbo].[GetAccountByUserName]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAccountByUserName]
	@tenDangNhap nvarchar(255)
as
begin
	select *
	from TaiKhoan
	where TenDangNhap = @tenDangNhap
end
GO
/****** Object:  StoredProcedure [dbo].[GetAll]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetAll](@TableName nvarchar(200))
as
begin
declare @sql nvarchar (2000)
set @sql = 'select * from '+@TableName
Exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[GetJobByAccountName]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetJobByAccountName](
@AccountName nvarchar(255))
as
begin
select c.ID, c.ID_LoaiCV, c.MoTa,c.MucdoUuTien,c.TenCongViec,c.ThoiGianBatDau,c.ThoiGianKetThuc,c.TienDo,c.TrangThai from CongViec c, LoaiCV l where c.ID_LoaiCV = l.ID and l.TenDangNhap = @AccountName
end
GO
/****** Object:  StoredProcedure [dbo].[GetJobDetailByJobId]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetJobDetailByJobId] (@JobId int)
as
begin
select * from ChiTietCV where ID_CongViec = @JobId
end
GO
/****** Object:  StoredProcedure [dbo].[GetTypeOfJobByAccountName]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetTypeOfJobByAccountName] (@AccountName nvarchar(255))
as
begin
select * from LoaiCV where TenDangNhap = @AccountName
end
GO
/****** Object:  StoredProcedure [dbo].[LoaiCV_Delete]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục Delete LoaiCV --
CREATE procedure [dbo].[LoaiCV_Delete](@ID int)
as
begin
Delete from LoaiCV where ID =@ID
end
GO
/****** Object:  StoredProcedure [dbo].[LoaiCV_Insert]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[LoaiCV_Insert] (
@ID int output,
@TenLoaiCV nvarchar(1000),
@TenDangNhap nvarchar(255)
)
as 
begin
if(not exists (select TenLoaiCV from LoaiCV where TenLoaiCV =@TenLoaiCV and TenDangNhap = @TenDangNhap))
begin 
insert into LoaiCV(TenLoaiCV, TenDangNhap) values (@TenLoaiCV, @TenDangNhap)
end
set @ID = @@IDENTITY
End
GO
/****** Object:  StoredProcedure [dbo].[LoaiCV_Update]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[LoaiCV_Update](@ID int output,
@TenLoaiCV nvarchar(1000))
as
begin
Update LoaiCV
set TenLoaiCV = @TenLoaiCV
where ID = @ID
end 
GO
/****** Object:  StoredProcedure [dbo].[SetJobDetailStatus]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SetJobDetailStatus](@JobDetailId int, @Status int)
as
begin
update ChiTietCV set TrangThai = @Status where ID = @JobDetailId
end
GO
/****** Object:  StoredProcedure [dbo].[SetJobDetailToDrop]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SetJobDetailToDrop](@JobDetailId int)
as
begin
update ChiTietCV set TrangThai = 2 where ID = @JobDetailId and TrangThai = 0
end
GO
/****** Object:  StoredProcedure [dbo].[SetJobStatus]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SetJobStatus](@JobId int, @Status int)
as
begin
update CongViec set TrangThai = @Status where ID = @JobId 
end
GO
/****** Object:  StoredProcedure [dbo].[SetJobToDrop]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SetJobToDrop](@JobId int)
as
begin

update CongViec set TrangThai = 2 where ID = @JobId and TrangThai = 0 
end
GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Delete]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[TaiKhoan_Delete](@TendangNhap nvarchar(255))
as
begin
Delete from TaiKhoan where @TendangNhap = TenDangNhap
end
GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Insert]    Script Date: 12/9/2021 11:25:50 PM ******/
drop proc TaiKhoan_Insert
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[TaiKhoan_Insert] (
@TenDangNhap nvarchar(255),
@MatKhau nvarchar(1000),
@HovaTen nvarchar(1000),
@GioiTinh bit,
@NgaySinh smalldatetime,
@Cauhoi nvarchar(255),
@Cautraloi nvarchar(255)
)
as 
begin
if(not exists (select TenDangNhap from TaiKhoan where TenDangNhap =@TenDangNhap))
begin 
insert into TaiKhoan(TenDangNhap,MatKhau,HovaTen,GioiTinh,Ngaysinh,CauHoi,CauTraloi) values (@TenDangNhap,@MatKhau,@HovaTen,@GioiTinh,@NgaySinh,@Cauhoi,@Cautraloi)
end
End
GO
/****** Object:  StoredProcedure [dbo].[TaiKhoan_Update]    Script Date: 12/9/2021 11:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[TaiKhoan_Update](
@TenDangNhap nvarchar(255),
@MatKhau nvarchar(1000),
@HovaTen nvarchar(1000),
@GioiTinh bit,
@NgaySinh smalldatetime)
as
begin
Update TaiKhoan
set MatKhau =@MatKhau, HovaTen= @HovaTen,GioiTinh=@GioiTinh,Ngaysinh=@NgaySinh
where TenDangNhap = @TenDangNhap
end 
GO
USE [master]
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MatKhauUpdate]
@